.scryfall-container {
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.spinner {
    margin-left: 5px;
}

.loading {
    background-color: orange;
}

.loaded {
    background-color: green;
}