<div class="card-container" (click)="open()" #rotatable>
    @if (this.card().imageUri && this.card().imageUri !== "loading") {
        <div class="mtg-card p-0">
            <div class="quantity-border">
                <div class="quantity-number">
                    {{ card().count }}
                </div>
                @if (card().foilCount > 0) {
                    <div class="quantity-number-foil">
                        {{ card().foilCount }}<i class="bi bi-brightness-high quantity-number-foil-image" style="font-size: 9px;"></i>
                    </div>
                }
            </div>
            <p class="price-tag">{{ 
                this.card().priceTag 
            }}</p>
            <img class="card-image" [src]="this.card().imageUri">
            @if(this.card().hasMultipleFaces) {
                <button (click)="swap($event)" id="swap-face-button" class="btn btn-primary">
                    <i id="swap-icon" class="bi bi-arrow-left-right"></i>
                </button>
            }
        </div>
    } @else {
        <div class="mtg-card p-0">
            <img [class] src="Back.png" class="back-image">
    
            @if (this.card().imageUri === "loading") {
                <div class="spinner-background"></div>
                <div class="spinner spinner-border text-light" role="status"></div>
            }
        </div>
    }
</div>