@import "../../../../variables.scss";

.card-container {
    width: 100%;
    height: 100%;
}

.mtg-card {
    position: relative;
    width: 100%;
    height: 100%;
}

.back-image {
    position: absolute; 
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.spinner-background {
    width: 100%;
    height: 100%;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

.spinner {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 40px;
    left: calc(50% - 15px);
}

#card-name {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    height: 50px;
    width: 98%;
    left: 1%;
    position: absolute;
    top: calc(50% - 25px);
    display: flex;
    justify-content: center;
    font-size: small;
    align-items: center;
    text-align: center; 
    overflow: hidden;
    color: white;
    padding: 20px;
}

.price-tag {
    background-color: $primary;
    position: absolute;
    width: 110px;
    bottom: -4px;
    left: calc(50% - 55px);
    margin: 0;
    padding: 2px;
    font-size: 0.7em;
    border-radius: 5px;
    text-align: center;
    color: $font;
}

.quantity-border {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-style: solid;
    font-style: bold;
    border-color: $primary;
    font-size: 0.7em;
}

.quantity-number {
    position: absolute;
    background-color: $primary;
    padding: 2px 6px 0px 4px;
    bottom: 0;
    border-radius: 0 10px 0 0;
    color: $font;
}

.quantity-number-foil {
    position: absolute;
    background-color: $primary;
    padding: 0px 6px 2px 4px;
    border-radius: 0 0 10px 0;
    color: $font;
}

#swap-face-button {
    position: absolute;
    right: -5px;
    top: 35px;
}

#swap-icon {
    color: $font;
}