<div id="card-container">
    @if (transferedCard && selectedCard && frontCard) {
        <div class="header row p-0">
            <button (click)="return()" id="back-button" class="btn btn-primary">
                <i class="bi bi-arrow-left" style="font-size: 1rem; color: white;"></i>
            </button>
            <p id="card-name">
                {{ selectedCard.name }}
            </p>
        </div>
        <div class="body row">
            <div id="image-col" class="col-xl-4">
                <div id="image-container">
                    @if (transferedCard.imageUri === "loading") {
                        <img [class] src="Back.png" class="card-image">
                        @if (!transferedCard.linked) {
                            <div class="spinner-background"></div>
                            <div class="spinner spinner-border text-light" role="status"></div>
                        }
                    } @else {
                        <img class="card-image" [src]="transferedCard.imageUri">
                    }
                    @if (this.transferedCard.hasMultipleFaces) {
                        <button (click)="swap()" id="swap-face-button" class="btn btn-primary">
                            <i id="swap-icon" class="bi bi-arrow-left-right"></i>
                        </button>
                    }
                </div>
            </div>
            <div class="col-xl-4">
                <app-card-row key="Count" [value]="selectedCard.count.toString()" />
                <app-card-row key="Foils" [value]="selectedCard.foilCount.toString()" />
                <app-card-row key="Average price" [value]="frontCard.averagePrice" />
                <app-card-row key="Average foil price" [value]="frontCard.averagePriceFoil" />
                <app-card-row key="Collection value" [value]="frontCard.collectionValue" />
                <app-card-row key="Number" [value]="selectedCard.number.toString()" />
                <app-card-row key="Urza Gatherer ID" [value]="selectedCard.id.toString()" />
                <app-card-row key="Color" [value]="selectedCard.color.toString()" />
                <app-card-row key="Artist" [value]="selectedCard.author.toString()" />
                <app-card-row key="Rarity" [value]="selectedCard.rarity.toString()" />
                <app-card-row key="Mana cost" [value]="selectedCard.manaCost.toString()" />
                <app-card-row key="Converted mana cost" [value]="selectedCard.convertedManaCost.toString()" />
                <app-card-row key="Type" [value]="selectedCard.type" />
            </div>
        </div>
    }
</div>
