<div id="container" [class.pair]="pair()">
    <div class="row">
        <div class="col-6">
            @for (layer of generateLayerArray(); track $index) {
                @if ($index + 1 === generateLayerArray().length) {
                    <i id="set-arrow" class="bi bi-arrow-return-right"></i>
                } @else {
                    <label class="spacer"></label>
                }
            }
            <img id="set-image" [src]="set().icon_svg_uri">
            <label id="set-name">{{ set().name }}</label>
            <label id="set-code">{{ set().code?.toUpperCase() }}</label>
        </div>
        <div class="col-3 d-flex align-items-center">
            <div class="progress flex-grow-1">
                <div
                    class="progress-bar progress-bar-striped bg-primary"
                    role="progressbar"
                    [style.width.%]="getProgress(set().leftCollectionSubset.length, set().card_count)"
                ></div>
            </div>
            <label class="progress-label ms-2">
                {{ set().leftCollectionSubset.length }} / {{ set().card_count }}</label>
        </div>
        <div class="col-3 d-flex align-items-center">
            <div class="progress flex-grow-1">
                <div
                    class="progress-bar progress-bar-striped bg-primary"
                    role="progressbar"
                    [style.width.%]="getProgress(set().rightCollectionSubset.length, set().card_count)"
                ></div>
            </div>
            <label class="progress-label ms-2">
                {{ set().rightCollectionSubset.length }} / {{ set().card_count }}
            </label>
        </div>
    </div>
</div>
