#container {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-left: 10px;
}

.pair {
    background-color: rgb(226, 226, 226);
}

#set-arrow {
    width: 18px;
    font-size: 0.6rem;
    margin-left: 5px;
    margin-right: 10px;
    color: rgb(119, 119, 119);
}

#set-image {
    width: 18px;
    margin-right: 10px;
}

#set-name {
    margin-right: 14px;
}

#set-code {
    color: rgb(158, 158, 158);
    font-size: small;
}

.spacer {
    width: 25px;
}