<div class="p-2">
    <p class="mb-2 fw-bold">{{ title() }}</p>

    <!-- White Filter -->
    <div class="form-check form-check-inline" 
        (click)="!oppositeFilter.white && changeColor('white')" 
        [class.checked]="colorFilter.white"
        [class.disabled]="oppositeFilter.white"
    >
        <img class="symbol" [src]="getColorImg('{W}')" >
        <label class="symbol-description">White</label>
    </div>

    <!-- Blue Filter -->
    <div class="form-check form-check-inline" 
        (click)="!oppositeFilter.blue && changeColor('blue')"
        [class.checked]="colorFilter.blue"
        [class.disabled]="oppositeFilter.blue"
    >
        <img class="symbol" [src]="getColorImg('{U}')" >
        <label class="symbol-description">Blue</label>
    </div>

    <!-- Black Filter -->
    <div class="form-check form-check-inline" 
        (click)="!oppositeFilter.black && changeColor('black')"
        [class.checked]="colorFilter.black"
        [class.disabled]="oppositeFilter.black"
    >
        <img class="symbol" [src]="getColorImg('{B}')" >
        <label class="symbol-description">Black</label>
    </div>

    <!-- Red Filter -->
    <div class="form-check form-check-inline" 
        (click)="!oppositeFilter.red && changeColor('red')"
        [class.checked]="colorFilter.red"
        [class.disabled]="oppositeFilter.red"
    >
        <img class="symbol" [src]="getColorImg('{R}')" >
        <label class="symbol-description">Red</label>
    </div>

    <!-- Green Filter -->
    <div class="form-check form-check-inline" 
        (click)="!oppositeFilter.green && changeColor('green')"
        [class.checked]="colorFilter.green"
        [class.disabled]="oppositeFilter.green" 
    >
        <img class="symbol" [src]="getColorImg('{G}')" >
        <label class="symbol-description">Green</label>
    </div>

    <!-- Multicolor Filter -->
    <div class="form-check form-check-inline" 
        (click)="!oppositeFilter.multicolor && changeColor('multicolor')"
        [class.checked]="colorFilter.multicolor" 
        [class.disabled]="oppositeFilter.multicolor" 
    >
        <img class="symbol" [src]="getColorImg('{R/G}')" >
        <label class="symbol-description">Multicolors</label>
    </div>

    <!-- Colorless Filter -->
    <div class="form-check form-check-inline" 
        (click)="colorlessCheck && changeColor('colorless')"
        [class.checked]="colorFilter.colorless"
        [class.disabled]="!colorlessCheck" 
    >
        <img class="symbol" [src]="getColorImg('{C}')" >
        <label class="symbol-description">Colorless</label>
    </div>

    <!-- Compleated Filter -->
    <div class="form-check form-check-inline" 
        (click)="!oppositeFilter.compleated && changeColor('compleated')"
        [class.checked]="colorFilter.compleated"
        [class.disabled]="oppositeFilter.compleated" 
    >
        <img class="symbol" [src]="getColorImg('{P}')" >
        <label class="symbol-description">Compleated</label>
    </div>
</div>
