@import "../../../../variables.scss";

#main {
    padding: 0px;
    height: 100%;
    background-color: rgb(235, 235, 235);
}

#title-block {
    height: 60px;
}

#content-block {
    height: calc(100% - 140px);
}

#actions-block {
    height: 70px;
}

#close-button {
    margin-right: 10px;
}

#cards-remaining {
    position: absolute;
    left: 24px;
    font-weight: bold;
}

#scryfall-loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#title {
    margin-bottom: 20px;
}

#spinner {
    width: 50px;
    height: 50px;
}