@import "../../../../variables.scss";

#main {
    padding: 0px;
    height: 100%;
    background-color: rgb(235, 235, 235);
}

#title-block {
    height: 60px;
}

#content-block {
    height: calc(100% - 140px);
}

#actions-block {
    height: 70px;
}

#close-button {
    margin-right: 10px;
}

#cards-remaining {
    position: absolute;
    left: 24px;
    font-weight: bold;
}